<header>

</header>
<main>
    <p>Daily Greeting</p>
    <p>{{email}}</p>
        <ul>
            {{#each challenges as |challenge|}}
            <li>{{challenge.title}}</li>
            {{/each}}
        </ul>
</main>