<header>

</header>
<main>
    <p>Daily Greeting</p>
    <p>{{email}}</p>
        <ul>
            {{#each challenges as |challenge|}}
            <li>
                <div class="challengeBox">
                    
                </div>
            </li>
            {{/each}}
        </ul>
</main>