<main>
    <div>
    <canvas id="userleaderboard" width="800px" height="600px"></canvas>
    </div>
    <script>

function getCookie(c_name) {
    if (document.cookie.length > 0) {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1) {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) {
                c_end = document.cookie.length;
            }
            return unescape(document.cookie.substring(c_start, c_end));
        }
    }
    return "";
}
    var cookie = getCookie('leaderboarddata');
    const leaderboarddata = JSON.parse(cookie)
    console.log(leaderboarddata);
    const challengetitles = []
    const finalscore= []
    const columnscolors = []
    let leaderboarddisplay = []
    for (let i = 0; i < leaderboarddata.length; i++) {
        let challengescores = []
        if ((leaderboarddisplay.filter(e => e.f_name === leaderboarddata[i].f_name).length > 0) === false){
        leaderboarddisplay = leaderboarddata.filter(e => e.f_name === leaderboarddata[i].f_name)
        challengetitles.push(leaderboarddisplay[0].f_name)
        for (let i = 0; i < leaderboarddisplay.length; i++) {
        console.log(leaderboarddisplay[i])
        challengescores.push(leaderboarddisplay[i].user_score)
        }      
        var finalscoreuser = challengescores.reduce((a, b) => a + b, 0);
        console.log(finalscoreuser)
        finalscore.push(finalscoreuser)
        console.log(finalscore)
        }
    }
    for (let i = 0; i < leaderboarddata.length; i++) {
        var color = 'rgba(' + Math.floor(Math.random()*255) + ',' + Math.floor(Math.random()*255) + ',' + Math.floor(Math.random()*255) + ', .4)'
        columnscolors.push(color)
    }

    var ctx = document.getElementById('userleaderboard');
    const userleaderboard = new Chart(ctx, {
type: 'bar',
data: {
    labels: challengetitles,
    datasets: [{
        label: 'USER SCORES',
        data: finalscore,
        backgroundColor: 
        columnscolors,
        borderColor:
        columnscolors,
        borderWidth: 1
    }]
},
options: {
    indexAxis: 'y',
    scales: {
        y: {
            beginAtZero: true
        }
    }
},
pan: { enable: false,
}, zoom: {
    enable: false,
}
});
    </script>
</main>
