
    <div>
        <form method="POST" action="/login">
            <div>
                <label for="Email" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control" id="Email" placeholder="Enter email">
            </div>
            <div>
                <label for="Password" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="Password" placeholder=" Enter Password">
            </div>
            <br>
            <button type="submit" class="btn btn-info">Login</button>
        </form>
    </div>
