<main>
    <form class="loginForm" method="POST" action="/login">
        <div class="titleBox">
            <h2>{{title}}</h2>
        </div>
        <input name="email" type="email" class="formEmailField" id="email" placeholder="Enter email">
        <input name="password" type="password" class="formPwordField" id="password" placeholder="Enter Password">
        <button type="submit" class="button">Login</button>
        <div class="toLogin">
            <h3 class="toLoginText">Don't have an account?</h3>
            <button type="button" class="buttonSml" onclick="location.href='/signup'">Sign Up</button>
        </div>
    </form>
</main>