<main>
    <form class="signupForm" method="POST" action="/signup">
        <div class="titleBox">
            <h2>{{title}}</h2>
        </div>
        <div class="nameFields">
            <input name="fName" type="text" class="formNameField" id="fName" placeholder="First Name">
            <input name="lName" type="text" class="formNameField" id="lName" placeholder="Last Name">
        </div>
        <input name="email" type="email" class="formEmailField" id="email" placeholder="Enter email">
        <input name="password" type="password" class="formPwordField" id="password" placeholder="Enter Password">
        <input name="cPassword" type="password" class="formPwordField" id="cPassword" placeholder="Confirm Password">
        <button type="submit" class="button">Signup</button>
        <div class="toLogin">
            <h3 class="toLoginText">Already have an account?</h3>
            <button type="button" class="buttonSml" onclick="location.href='/login'">Login</button>
        </div>
    </form>
</main>