:root{
    background-color: white;
    color: black;
    --mainColor: #fff;
    --highlightColor: #2B293C;
    --highlightColor2: rgba(106, 73, 115, 0.5);
}
nav{
    background-color: var(--highlightColor);
    height: 8rem;
    width: 100%;
}
.mainTitle{
    background-color: var(--mainColor);
    color: var(--highlightColor);
    height: 4.5rem;
    margin-top: 1.75rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem var(--highlightColor2);
    font-size: 50px;
    font-weight: bolder;
    margin-left: 20px;
    float: left;
    cursor: default;
}
nav ul{
    float: left;
    margin-left: 2rem;
}
nav ul li{
    display: inline-block;
    margin-top: 1.5rem;
    margin-right: 2rem;
    font-size: 3rem;
}
nav ul li a{
    text-decoration: none;
    color: var(--mainColor);
    cursor: pointer;
}
body{
    background-color: var(--mainColor);
}
main{
    display: flex;
    justify-content: center;
}
.titleBox{
    background-color: var(--highlightColor);
    color: var(--mainColor);
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-bottom: 1.5rem;
}
.signupForm{
    border: 5px solid var(--highlightColor);
    margin: 5rem;
    display: flex;
    width: 50rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.loginForm{
    border: 5px solid var(--highlightColor);
    margin: 5rem;
    display: flex;
    width: 50rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.nameFields{
    display: flex;
    flex-direction: row;
}
.formNameField{
    border-radius: 0.5rem;
    height: 3rem;
    width: 20rem;
    margin: 0 1.5rem 0;
}
.formEmailField{
    border-radius: 0.5rem;
    height: 3rem;
    width: 43rem;
    margin: 1.5rem 0;
}
.formPwordField{
    border-radius: 0.5rem;
    height: 3rem;
    width: 43rem;
    margin-bottom: 1.5rem;
}
.button{
    height: 3rem;
    width: 5rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}
.toLogin{
    display: flex;
    flex-direction: row;
}
.toLoginText{
    line-height: 2rem;
    margin-right: 1rem;
}
.buttonSml{
    height: 2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}
.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
.welcome{
    font-size: 6rem;
    color: var(--highlightColor);
}
.blocks{
    display: flex;
    flex-direction: row;
}
.challengeBox{
    border: 0.2rem solid var(--highlightColor);
    height: 25rem;
    width: 15rem;
    border-radius: 1rem;
    margin: 2rem;   
}
h3{
    color: var(--highlightColor);
    line-height: 3rem;
}
.boxHeader{
    border-bottom: 0.2rem solid var(--highlightColor);
    height: 3rem;
    display: flex;
    flex-direction: row;
}
.delete{
    border-right: 0.2rem solid var(--highlightColor);
    width: 2.5rem;
    height: 3rem;
    color: var(--mainColor);
    background-color: var(--highlightColor);
    border-top-left-radius: 0.75rem;
    line-height: 3rem;
    padding: 0.3rem;
}
.delete i{
    font-size: 2rem;
    color: var(--mainColor);
}
.title{
    width: 12.5rem;
    text-align: center;
}
.boxPContent{
    height: 17rem;
    padding: 0.5rem;
}
.score{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    border-top: 0.2rem solid var(--highlightColor);
    background-color: var(--highlightColor);
}
.scoreVal{
    border: 0.2rem solid var(--mainColor);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    text-align: center;
    font-size: 2rem;
}
.scoreVal h3{
    color: var(--mainColor);
}
.plusminus i{
    font-size: 3rem;
    color: var(--mainColor);
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--highlightColor);
}